<configuration debug="false">
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <!--<pattern>%date{HH:mm:ss.SSS} %highlight(%5level) %gray(%logger{90}) %msg%n%ex{short}</pattern>-->
      <pattern>%date{HH:mm:ss.SSS} %highlight(%5level) %msg%n%ex{short}</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
